<div class="row">
  <div class="col-md-12">
    <%= form_for(@faq) do |form| %>
      
      <% if @faq.errors.full_messages.any? %>
          <div class="alert alert-danger" role="alert">
              <% @faq.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </div>
      <% end %>

      <div class="form-group">
        <%= form.label :Question %>
        <%= form.text_field :question, class: 'form-control', placeholder: 'Question' %>
      </div>

      <div class="form-group">
        <%= form.label :Answer %>
        <%= form.text_area :answer, rows: 10, class: 'form-control', placeholder: 'Answer' %>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: 'btn btn-primary float-right' %>
      </div>
    <% end %>
  </div>
</div>
<br>