<div class="panel panel-primary">
<div class="panel-body">
    <div class="blog-section pl-3">
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-left" >Title</th>
                <th scope="col" class="text-center">Category</th>
                <th scope="col" class="text-center">Tags</th>
                <th scope="col" class="text-center">Published Date</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="blogs">
            <% @blogs.each do |blog| %>
                <tr>
                    <td class="text-left"><%= blog.title %></td>
                    <td class="text-center">
                        <%#= blog.categories.map {|c| c.name}.join(', ') %>
                        <% blog.categories.each do |t| %>
                            <span class="badge badge-primary"><%= t.name %></span>
                        <% end %>
                    </td>
                    <td class="text-center">
                        <%#= blog.tags.map {|t| t.name}.join(', ') %>
                        <% blog.tags.each do |t| %>
                            <span class="badge badge-success"><%= t.name %></span>
                        <% end %>
                    </td>
                    <td class="text-center">
                        <%= blog.published_at.to_date if blog.published_at? %>
                    </td>
                    <td class="text-center">
                        <%= link_to '', blog_path(blog), class: 'fa fa-eye fa-lg text-primary' %>
                        <%= link_to '', edit_blog_path(blog), class: 'fa fa-edit fa-lg text-success' %>
                        <%= link_to '', blog_path(blog), method: :delete, class: 'fa fa-trash fa-lg text-danger', data: { confirm: 'Are you sure?' } %>
                    </td>  
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>
</div>