
<%= form_for(job) do |form| %>
  <% if job.errors.any? %>
    <ul><% job.errors.full_messages.each do |error| %>
      <li><%= error %><li>
    <% end %></li>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <%= form.label :"Type" %>
    <%= form.collection_select(:job_type_id, JobType.all, :id, :title, {selected: job.job_type_id}, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= form.label :"Area" %>
    <%= form.collection_select(:job_area_id, JobArea.all, :id, :title, {selected: job.job_area_id}, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= form.number_field :salary, class: 'form-control', placeholder: 'Salary per month' %>
  </div>

  <div class="form-group">
    <%= form.number_field :hires, class: 'form-control', placeholder: 'How many hires' %>
  </div>

  <div class="form-group">
    <%= form.text_area :description, rows:5, class: 'form-control', placeholder: 'Description' %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class: 'form-control', placeholder: 'E-mail' %>
  </div>

  <div class="form-group">
    <%= form.text_area :address, rows:3, class: 'form-control', placeholder: 'Address' %>
  </div>

  <div class="form-group">
    <%= form.number_field :experience, class: 'form-control', placeholder: 'Requires Years of experience' %>
  </div>

  <div class="form-group">
    <%= form.label :education_id %>
    <%= form.collection_select(:education_id, Education.all, :id, :title, {selected: job.education_id}, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
