<%= form_for(job) do |form| %>
  <% if job.errors.any? %>
    <ul>
      <% job.errors.full_messages.each do |error| %>
        <li><%= error %><li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :"Job title" %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :"Type of Job" %>
            <%= form.collection_select(:job_type_id, JobType.all, :id, :title, {selected: job.job_type_id}, class: 'form-control') %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :"Job Area" %>
            <%= form.collection_select(:job_area_id, JobArea.all, :id, :title, {selected: job.job_area_id}, class: 'form-control') %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label "What is the salary for this job per month (USD)" %>
        <div class="row">
          <div class="col-md-6">
            <%= form.number_field :salary_min, class: 'form-control', placeholder: 'min' %>
          </div>
          <div class="col-md-6">
            <%= form.number_field :salary_max, class: 'form-control', placeholder: 'max' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :"How many hires do you want to make for this position" %>
        <%= form.number_field :hires, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :"Requires Years of experience" %>
        <%= form.number_field :experience, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :"Requires level of education" %>
        <%= form.collection_select(:education_id, Education.all, :id, :title, {selected: job.education_id}, class: 'form-control') %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :"Description (responsibilities of this job, work experience, skills and education)" %>
        <%= form.text_area :description, rows:6, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :"Applicants will send to which emails" %>
        <%= form.text_field :email, class: 'form-control', placeholder: 'E-mails separated by commas' %>
      </div>

      <div class="form-group">
        <%= form.label :"Applicants will send to which address" %>
        <%= form.text_area :address, rows:2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :expiry_date %>
        <%= form.date_field :expiry_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>
