


    <h2><%= @job.title %></h2>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Job Title</th>
        <td><%= @job.title %></td>
      </tr>
      <tr>
        <th scope="row">Type of Job</th>
        <td><%= @job.job_type.title %></td>
      </tr>
      <tr>
        <th scope="row">Job Area</th>
        <td><%= @job.job_area.title %></td>
      </tr>
      <tr>
        <th scope="row">Salary for this job per month</th>
        <td><%= @job.salary_min %> - <%= @job.salary_max %></td>
      </tr>
      <tr>
        <th scope="row">Number of hires for this position</th>
        <td><%= @job.hires %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @job.description %></td>
      </tr>
      <tr>
        <th scope="row">Applicants will send to which emails</th>
        <td><%= @job.email %></td>
      </tr>
      <tr>
        <th scope="row">Applicants will send to which address</th>
        <td><%= @job.address %></td>
      </tr>
      <tr>
        <th scope="row">Requires Years of Experience</th>
        <td><%= @job.experience %></td>
      </tr>
      <tr>
        <th scope="row">Requires level of Education</th>
        <td><%= @job.education.title %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit Job', edit_job_path(@job), class: 'btn btn-primary' %>


