<ul class="nav nav-tabs mr-auto custom-nav">
  <li class="nav-item">
    <%= link_to 'Homepage', root_path, class: "nav-link #{active? root_path}" %>
  </li>

  <% if current_user.resumes.count == 0 %>
    <li class="nav-item">
      <%= link_to 'Build your Resume', new_resume_path, class: "nav-link #{active? new_resume_path}" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'View your Resume', resume_path(current_user.resumes.ids), class: "nav-link #{active? resume_path(current_user.resumes)}" %>
    </li>
  <% end %>

  <li class="nav-item">
    <%= link_to 'Applied Jobs', applied_jobs_path, class: "nav-link #{active? applied_jobs_path}" %>
  </li>

  <li class="nav-item">
    <%= link_to 'Bookmarked Jobs', bookmarked_jobs_path, class: "nav-link #{active? bookmarked_jobs_path}" %>
  </li>

  <li class="nav-item">
    <%= link_to 'Subscribed Jobs', subscribed_jobs_path, class: "nav-link #{active? subscribed_jobs_path}" %>
  </li>

  <li class="nav-item">
    <%= link_to 'Job Alert', alert_path, class: "nav-link #{active? alert_path}" %>
  </li>

  <li class="nav-item dropdown ml-auto">
    <a class="nav-link  fa fa-cog fa-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu">
        <%= link_to 'Setup Profile', edit_user_registration_path, class: 'dropdown-item' %>

        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
  </li>
</ul>
