<tr>
  <td><%= link_to (all_resume.first_name + " " + all_resume.last_name), all_resume %></td>
  <td><%= all_resume.work_experiences[0].job_title %></td>
  <td><%= all_resume.degree %></td>
  <td><%= all_resume.desired_job_title %></td>
  <td><%= all_resume.created_at %></td>
</tr>
