<tr>
  <td><%= link_to all_company.title, all_company %></td>
  <td><%= all_company.industry %></td>
  <td><%= all_company.country %></td>
  <td><%= all_company.city %></td>
  <td><%= all_company.number_of_employee %></td>
</tr>