<tr>
  <td><%= link_to all_job.title, all_job %></td>
  <td><%= link_to all_job.user.companies[0].title, company_path(all_job.user.companies[0].id) %></td>
  <td><%= all_job.job_type.title %></td>
  <td><%= all_job.job_area.title %></td>
  <td><%= all_job.salary_min %> - <%= all_job.salary_max %></td>
  <td><%= all_job.updated_at.strftime("%B %d, %Y") %></td>
  <td><%= all_job.expiry_date.strftime("%B %d, %Y") if !all_job.expiry_date.blank? %></td>
  <% if user_signed_in? %>
    <td>
      <% if current_user.bookmark_job?(all_job) %>
        <%= link_to '', unbookmark_job_path(job_id: all_job.id), class: 'fa fa-star fa-2x unbookmark', title: 'Unbookmark!', method: :delete %>
      <% else %>
        <%= link_to '', bookmark_job_path(job_id: all_job.id), class: 'fa fa-star fa-2x bookmark', title: 'Bookmark!' %>
      <% end %>
    </td>
  <% end %>
</tr>
