<div class="row">
  <div class="col">
    <div class="info-cards__card">
    <div class="row">
      <div class="col-10"><b><u><%= link_to all_job.title, all_job, { remote: true, class: "card__title" } %></u></b></div>
      <div class="col" style="text-align: right;">
        <% if all_job.user_id != current_user&.id %>
          <% if current_user&.bookmark_job?(all_job) %>
            <%= link_to '', unbookmark_job_path(job_id: all_job.id), class: 'fa fa-star fa-2x unbookmark small', title: 'Unbookmark!', method: :delete %>
          <% else %>
            <%= link_to '', bookmark_job_path(job_id: all_job.id), class: 'fa fa-star fa-2x bookmark small', title: 'Bookmark!' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to all_job.first_company.title, company_path(all_job.first_company.id) %>
        <span class="star-rating col-md-7" data-score="<%= all_job.first_company.avg_rating %>" align="left"></span>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <%= all_job.first_company.city %>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <%= truncate(all_job.description, length: 50) %>
      </div>
       <div class="w-100"></div>
      <div class="col">
        Salary: USD<%= all_job.salary_min %>-<%= all_job.salary_max %>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-4">Years of Experience:<br /><%= pluralize(all_job.experience, 'year') %></div>
      <div class="col-5">Job Area:<br/><%= all_job.job_area.title %></div>
      <div class="col-3">Posted Date:<br/><%= all_job.updated_at.strftime("%B %d, %Y")%></div>
    </div>
  </div>
  </div>
</div>


