<tr>
  <td><%= link_to all_job.title, all_job %></td>
  <td><%= all_job.job_type.title %></td>
  <td><%= all_job.job_area.title %></td>
  <td><%= all_job.salary_min %> - <%= all_job.salary_max %></td>
  <td><%= all_job.updated_at %></td>
</tr>
