<tr>
  <th scope="row"><%= all_job.id %></th>
  <td><%= all_job.title %></td>
  <td><%= all_job.job_type.title %></td>
  <td><%= all_job.job_area.title %></td>
  <td><%= all_job.created_at %></td>
  <td><%= link_to '', all_job, class: 'fa fa-eye fa-lg' %></td>
</tr>
