<tr>
  <th scope="row"><%= all_company.id %></th>
  <td><%= all_company.title %></td>
  <td><%= all_company.industry %></td>
  <td><%= all_company.country %></td>
  <td><%= all_company.city %></td>
  <td><%= link_to '', all_company, class: 'fa fa-eye fa-lg' %></td>
</tr>