<div class="row">
  <div class="col">
<div class="info-cards__card">
    <div class="row">
      <div class="col-10">
        <% if all_resume.work_experiences.size > 0 %>
        <b class="card__title">Current/Last job title: <u><%= link_to all_resume.work_experiences.first.job_title, all_resume, { remote: true } %></u></b>
        <% else %>
          <b class="card__title">Desire job title: <u><%= link_to all_resume.desired_job_title, all_resume, { remote: true } %></u></b>
        <% end %>
      </div>
      <div class="col" style="text-align: right;">
        <% if user_signed_in? %>
          <% if current_user&.bookmark_resume?(all_resume) %>
          <%= link_to '', unbookmark_resume_path(resume_id: all_resume.id), class: 'fa fa-star fa-2x unbookmark small', title: 'Unbookmark!', method: :delete %>
        <% else %>
          <%= link_to '', bookmark_resume_path(resume_id: all_resume.id), class: 'fa fa-star fa-2x bookmark small', alt: 'Bookmark!', title: 'Bookmark!' %>
          <% end %>
        <% end %>
    </div>
    </div>
    <div class="row">
      <% if all_resume.work_experiences.size > 0 %>
        <div class="col">Current/Last company: <%= all_resume.work_experiences.first.company %></div>
        <div class="w-100"></div>
      <% end %>
      <div class="col">
        Education: <%= all_resume.field_of_study %>, <%= all_resume.degree %>
      </div>
      <div class="w-100"></div>
      <div class="col">
        Last updated: <%= all_resume.updated_at.strftime("%B %d, %Y") %>
      </div>
    </div>
  </div>
</div>
  </div>
