<div class="row">
<div class="col-md-3">
  <div class="sidebar">
    <%= form_with method: :get, local: true, url: allcompanies_path, id: "filter-auto" do |f| %>
      <h5>Sort:</h5>
      <div class="form-group">
      <%= f.select :sort_by, options_for_select(Company::SORT_PARAMS.keys.collect{ |t| [t.humanize, t] }, params[:sort_by]), {}, class: "form-control" %>
      </div>

      <hr />
      <h5>Filter:
        <% if @filter_active %>
          <span style="font-size: 15px;">
            <%= link_to "(clear)", allcompanies_path %>
          </span>
        <% end %>
      </h5>

      <%= render "pages/partials/filter", arr: @all_companies.aggs['title'], form: f, title: "Job title", name_inp: :title %>
      <br />


      <%= render "pages/partials/filter", arr: @all_companies.aggs['industry'], form: f, title: "Industry", name_inp: :industry %>

        <br />
      <%= render "pages/partials/filter", arr: @all_companies.aggs['city'], form: f, title: "City", name_inp: :city %>


      <%= f.hidden_field :q, value: params[:q] %>
    <% end %>

  </div>
</div>
<div class="col-md-5">
  <% if params[:q].present? %><h6>Results for: <i><%= params[:q] %></i></h6><% end %>

<h2>Companies List</h2>

<div class="info-cards">
  <% if @all_companies.size > 0 %>
    <%= render partial: 'all_company', collection: @all_companies %>
  <% else %>
    No results
  <% end %>
</div>
<%= paginate @all_companies %>
</div>

<div class="col d-none d-lg-block">
  <div id="job_info"></div>
</div>
<script>
$(document).on("turbolinks:load", function(){
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
})
</script>

