<div class="row">
<div class="col-md-3">
  <div class="sidebar">
    <%= form_with method: :get, local: true, url: allresumes_path, id: "filter-auto" do |f| %>
      <h5>Sort:</h5>
      <div class="form-group">
      <%= f.select :sort_by, options_for_select(Resume::SORT_PARAMS.keys.collect{ |t| [t.humanize, t] }, params[:sort_by]), {}, class: "form-control" %>
      </div>

      <hr />
      <h5>Filter:
        <% if @filter_active %>
          <span style="font-size: 15px;">
            <%= link_to "(clear)", allresumes_path %>
          </span>
        <% end %>
      </h5>

      <%= render "pages/partials/filter", arr: @all_resumes.aggs['title'], form: f, title: "Job title", name_inp: :job_title %>
      <br />
      <div>
      Experience level <br />
      <% Resume::EXPERIENCE_LEVELS.keys.each do |exp| %>
        <div class="form-check">
          <%= f.check_box :experience, { multiple: true, checked: (true if params[:experience]&.include?(exp)), id: exp, class: "form-check-input"}, exp, nil %>
        <%= f.label :experience, for: exp, class: "form-check-label" do %>
          <% counter = experience_counter(@all_resumes.aggs, exp) %>
          <%= exp.humanize %> <% if counter %>(<%= counter %>)<% end %>
        <% end %>
        </div>
      <% end %>
      </div>
      <br />

      <%= render "pages/partials/filter", arr: @all_resumes.aggs['education'], form: f, title: "Education", name_inp: :education, more_btn: false %>

        <br />
      <%= render "pages/partials/filter", arr: @all_resumes.aggs['city'], form: f, title: "City", name_inp: :city %>


      <%= f.hidden_field :q, value: params[:q] %>
      <!--<%= f.submit "Update", class: "btn btn-primary", name: nil %>-->
    <% end %>

  </div>
</div>
<div class="col-md-9">
  <% if params[:q].present? %><h6>Results for: <i><%= params[:q] %></i></h6><% end %>

<h2>All Resumes List</h2>
<table class="table table-striped">
  <% if @all_resumes.size > 0 %>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Current Job Title</th>
      <th scope="col">Education Level</th>
      <th scope="col">Desired Job Title</th>
      <th scope="col">Posted at</th>
      <th></th>
      <% if user_signed_in? %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="jobs">
    <%= render partial: 'all_resume', collection: @all_resumes %>
  </tbody>
  <% else %>
    <tr><td>No results</td></tr>
  <% end %>
</table>
<%= paginate @all_resumes %>

</div>

<%= render "pages/partials/job_modal" %>


