<h1 align="center">Find Resume</h1>
<div class="row justify-content-center custom-home">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6">
				<div class="btn-group" role="group" aria-label="Basic example">
				  <%= link_to 'Find Job', root_path, class: 'btn btn-warning' %>
				  <%= link_to 'Find Resume', find_resume_path, class: 'btn btn-info' %>
				</div>
			</div>
			<div class="col-md-6 text-right"><%= link_to 'Find Company', find_company_path, class: 'btn btn-success btn-block' %></div>
		</div>
		<%= form_with method: :get, local: true, url: allresumes_path do |f| %>
			<div class="input-group mb-3">
				<%= f.text_field :q, class: "form-control", placeholder: "Job title, Skills", value: nil %>
				<%= f.text_field :city, multiple: true, class: "form-control", placeholder: "City, Country", value: nil  %>
			  <div class="input-group-append">
					<%= f.submit "Find Resumes", class: "btn btn-primary", name: nil %>
			  </div>
			</div>
		<% end %>
	</div>
</div>
<%= render "pages/partials/main_links" %>
