<h1 align="center">Job Listing</h1>
<div class="row justify-content-center custom-home">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6">
				<div class="btn-group" role="group" aria-label="Basic example">
				  <%= link_to 'Find Job', root_path, class: 'btn btn-warning' %>
				  <%= link_to 'Find Resume', find_resume_path, class: 'btn btn-info' %>
				</div>
			</div>
			<div class="col-md-6 text-right"><%= link_to 'Find Company', find_company_path, class: 'btn btn-success btn-block' %></div>
		</div>
		<%= form_with method: :get, local: true, url: alljobs_path do |f| %>
			<div class="input-group mb-3">
				<%= f.text_field :q, class: "form-control", placeholder: "Job title, Skills", value: nil %>
				<%= f.text_field :city, multiple: true, class: "form-control", placeholder: "City, Country", value: nil  %>
			  <div class="input-group-append">
					<%= f.submit "Search", class: "btn btn-primary", name: nil %>
			  </div>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6 custom-home">
		<% if !user_signed_in? %>
			<div class="row">
				<div class="col-md-6">
					<h4 align="center">I am a Recruiter</h4>
					<%= link_to 'Sign up', new_user_with_interface_path(:initial_interface => 'recruiter'), class: 'btn btn-primary btn-block' %>
				</div>
				<div class="col-md-6">
					<h4 align="center">I am a Jobseeker</h4>
					<%= link_to 'Sign up', new_user_with_interface_path(:initial_interface => 'jobseeker'), class: 'btn btn-primary btn-block' %>
				</div>
			</div>
			<br>
			<%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary btn-block' %>
			<hr>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<%= link_to 'Browse Jobs', alljobs_path, class: 'btn btn-warning btn-block' %><br>
		<%= link_to 'Browse Companies', allcompanies_path, class: 'btn btn-info btn-block' %><br>
		<%= link_to 'Browse Resumes', allresumes_path, class: 'btn btn-success btn-block' %>
	</div>
</div>
