<div class="pl-3">
    <h2>Manage Recruiter</h2>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col" class="text-center" >Name</th>
        <th scope="col" class="text-center">Company Name</th>
        <th scope="col" class="text-center">Joined Date</th>
        <th scope="col" class="text-center">Number of Job Posts</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id="job_seekers">
        <% @recruiters.each.with_index(1) do |recruiter, key| %>
            <tr>
                <th scope="row"><%= key %></th>
                <td class="text-center"><%= recruiter.name %></td>
                <td class="text-center">
                    <%= link_to_if recruiter.companies.count > 0, recruiter.company_name, companies_path(recruiter.companies.ids[0]) %>
                </td>
                <td class="text-center"><%= recruiter.created_at.to_date %></td>
                <td class="text-center">
                    <%= link_to_if recruiter.resume_exist?, recruiter.number_of_jobs_post, show_jobs_path(recruiter.id) %>
                </td>
                <td class="text-center"></td>
                <td class="text-center">
                    <% if recruiter.status == 'active' %>
                        <%= select("status", "", ["Suspend", "Delete"], { include_blank: true }) %>
                    <% else %>
                        <%= select("status", "", ["Lift suspension", "Delete"], { include_blank: true }) %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>