<div class="pl-3">
    <h2>Manage Recruiter</h2>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col" class="text-center" >Name</th>
        <th scope="col" class="text-center">Company Name</th>
        <th scope="col" class="text-center">Joined Date</th>
        <th scope="col" class="text-center">Number of Job Posts</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id="job_seekers">
        <% @recruiters.each.with_index(1) do |recruiter, key| %>
            <tr>
                <th scope="row"><%= key %></th>
                <td class="text-center"><%= recruiter.name %></td>
                <td class="text-center">
                    <%= link_to_if recruiter.companies.count > 0, recruiter.company_name, companies_path(recruiter.companies.ids[0]) %>
                </td>
                <td class="text-center"><%= recruiter.created_at.to_date %></td>
                <td class="text-center">
                    <%= link_to_if recruiter.jobs.count > 0 , recruiter.number_of_jobs_post, show_jobs_path(recruiter.id) %>
                </td>
                <td class="text-center"><%= recruiter.status == 'active' ? 'Active' : 'Suspended' %></td>
                <td class="text-center">
                    <% if recruiter.status == 'active' %>
                        <select class="change-action">
                            <option value=""></option>
                            <option value="<%= change_action_path(:id => recruiter.id, :status => 'suspend') %>">Suspend</option>
                            <option value="<%= change_action_path(:id => recruiter.id, :status => 'delete') %>">Delete</option>
                        </select>
                    <% else %>
                        <select class="change-action">
                            <option value=""></option>
                            <option value="<%= change_action_path(:id => recruiter.id, :status => 'lift_suspend') %>">Lift suspension</option>
                            <option value="<%= change_action_path(:id => recruiter.id, :status => 'delete') %>">Delete</option>
                        </select>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>