<h2>Job Types</h2>
<div class="card">
  <div class="card-body">
    <h4>Current job types</h4>
    <div class="row">
      <% @job_types.each do |job_type| %>
    	  <div class="col-md-3">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= job_type.title %>
            <span>
              <%= link_to '', edit_job_type_path(job_type), class: 'fa fa-edit fa-lg admin_icons' %>
              <%= link_to '', job_type_path(job_type), method: :delete, class: 'fa fa-trash fa-lg admin_icons', data: { confirm: 'Are you sure?' } %>
            </span>
          </li>
        </div>
      <br>
      <br>
      <br>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
    <%= link_to 'Add more', new_job_type_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>

<h2>Job Areas</h2>
<div class="card">
  <div class="card-body">
    <h4>Current job areas</h4>
    <div class="row">
      <%@job_areas.each do |job_area| %>
      	<div class="col-md-4">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= job_area.title %>
            <span>
              <%= link_to '', edit_job_area_path(job_area), class: 'fa fa-edit fa-lg admin_icons' %>
              <%= link_to '', job_area_path(job_area), method: :delete, class: 'fa fa-trash fa-lg admin_icons', data: { confirm: 'Are you sure?' } %>
            </span>
          </li>
        </div>
        <br>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
    <%= link_to 'Add more', new_job_area_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>
<br>
