<div id="main-job-container">
  <div class="job-info__head company">
    <span style="font-weight: bold; font-size: 24px; line-height: 0px;"><%= company.title %></span>
    <p style="margin: 10px 0;"><%= link_to 'Show more about company', company_path(company), class: "btn btn-success", target: "_blank" %></p>
    <hr />
  </div>
  <div class="job-info__body">
    <div><b>Hires per year:</b> <%= company.hires_per_year %></div>
    <div><b>Name:</b> <%= company.name %></div>
    <div><b>Phone number:</b> <%= company.phone %></div>
    <div><b>Country:</b> <%= company.country %></div>
    <div><b>City / postal code:</b> <%= company.city %> / <%= company.postal_code %></div>
    <div><b>Payment info:</b> <%= company.payment_info %></div>
    <div><b>Website:</b> <%= company.website %></div>
    <div><b>Industry:</b> <%= company.industry %></div>
    <div><b>Number of employee:</b> <%= company.number_of_employee %></div>

    <div>
      <hr />
      <strong>Why join us:</b> </strong><%= company.why_join_us %>
    </div>
    <div>
      <strong>About us:</b> </strong><%= company.about %>
    </div>
  </div>
</div>
