<div id="main-job-container">
  <div class="job-info__head">
    <span style="font-weight: bold; font-size: 24px; line-height: 0px;"><%= resume.first_name %> <%= resume.last_name %></span>
    <p style="margin: 10px 0;"><%= link_to 'Show more', resume_path(resume), class: "btn btn-success", target: "_blank" %></p>
    <hr />
  </div>
  <div class="job-info__body">
    <div><b>City:</b> <%= resume.city %></div>
    <div><b>Country:</b> <%= resume.country %></div>
    <div><b>Contact information:</b> <%= resume.contact_information %></div>
    <div><b>Phone:</b> <%= resume.phone %></div>
    <div><b>Resume privacy:</b>
      <% if resume.status == "private_resume" %>
              Privat Resume
            <% else %>
              Public Resume
            <% end %></div>
            <hr />
    <h5>Additional information</h5>
    <div><b>Desired Job Title:</b> <%= resume.desired_job_title %></div>
    <div><b>Desired Job Types:</b>
        <% resume.job_type_ids.each do |j| %>
          <%= JobType.find_by_id(j).title %><br>
        <% end %>
    </div>
    <div><b>Desired salary per month USD:</b>
          <%= resume.desired_salary_per_month %></div>
    <div><b>Desired salary per year USD:</b>
          <%= resume.desired_salary_per_year %></div>
          <br />
    <h5>Work Experience</h5>
    <% resume.work_experiences.each do |w| %>
    <div><%= w.job_title %> - <%= w.company %> (<%= w.country %>, <%= w.city %>)<br />

          <b>Years of experience:</b> <% if w.less_than_one_year == false %>
          <%= pluralize(w.years_of_experience, 'year') %><% else %> Less then one year<%end %>
    <br />
    </div>
    <% end %>
  </div>
</div>
