<tr>
  <td><%= link_to company.title, company %></td>
  <td><%= company.industry %></td>
  <td><%= company.country %></td>
  <td><%= company.city %></td>
  <td><%= company.number_of_employee %></td>
  <td><%= link_to '', company, class: 'fa fa-eye fa-lg' %></td>
  <td><%= link_to '', edit_company_path(company), class: 'fa fa-edit fa-lg index-icons' %></td>
</tr>
