<%= form_for(company) do |form| %>
  <% if company.errors.any? %>
    <ul>
      <% company.errors.full_messages.each do |error| %>
        <li><%= error %><li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="btn btn-primary btn-block">
          Upload Company Logo <%= form.file_field :logo, style: 'display:none;' %>
        </label>
      </div>

      <div class="form-group">
        <%= form.label :"Company name" %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :hires_per_year %>
        <%= form.number_field :hires_per_year, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :phone %>
        <%= form.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :country %>
        <%= form.text_field :country, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :"City / postal code" %>
        <div class="row">
          <div class="col-md-6">
            <%= form.text_field :city, class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= form.number_field :postal_code, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :payment_info %>
        <%= form.text_area :payment_info, rows:2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :about %>
        <%= form.text_area :about, rows:2, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :why_join_us %>
        <%= form.text_area :why_join_us, rows:2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :website %>
        <%= form.text_field :website, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :industry %>
        <%= form.text_field :industry, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :number_of_employee %>
        <%= form.number_field :number_of_employee, class: 'form-control' %>
      </div>

      <div class="col-md-12">
        <h4>Photos:</h4>
        <div>
          <%= form.fields_for :photos do |photo_form| %>
            <%= render 'photo_fields', f: photo_form %>
          <% end %>
          <div>
            <%= link_to_add_association 'Add Photo', form, :photos %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
