Management  : <%= rating_for @review, 'management' %>

<%= form_for review, url: company_reviews_path do |form| %>
  <% if review.errors.any? %>
    <ul>
      <% review.errors.full_messages.each do |error| %>
        <li><%= error %><li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= form.label :"Would you recommend working at '#{@company.title}' to a friend?" %>
    <%= form.number_field :question1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :"How likely is it that you would recommend '#{@company.title}' as a place to work? (0 = Not at all likely; 10 = Extremely likely)" %>
    <%= form.number_field :question2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :"How would you describe the working culture at '#{@company.title}'?" %>
    <%= form.number_field :question3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :"Do you think you are paid fairly at '#{@company.title}'?" %>
    <%= form.number_field :question4, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :"What was your employment status at '#{@company.title}'?" %>
    <%= form.number_field :question5, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :"Write your review:" %>
    <%= form.text_area :description, rows:3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
