<%= form_for(resume) do |form| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>

  <h3>Personal details</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :country %>
        <%= form.text_field :country, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :city %>
        <%= form.text_field :city, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :contact_information %>
        <%= form.text_area :contact_information, rows: 5, class: 'form-control', placeholder: "email:  etc." %>
      </div>

      <div class="form-group">
        <%= form.label :phone %>
        <%= form.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.radio_button :status, 'private_resume' %>
        <%= form.label :status, 'Private Resume' %>
      <br>
        <%= form.radio_button :status, 'public_resume' %>
        <%= form.label :status, 'Public Resume' %>
      </div>
    </div>
  </div>

  <hr>

  <h3>Education</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :degree %>
        <%= form.text_field :degree, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :school %>
        <%= form.text_field :school, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :field_of_study %>
        <%= form.text_field :field_of_study, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :education_country %>
        <%= form.text_field :education_country, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :education_city %>
        <%= form.text_field :education_city, class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :education_start_date %>
            <%= form.date_field :education_start_date, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :education_end_date %>
            <%= form.date_field :education_end_date, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h3>Work Experience</h3>
  <div>
    <%= form.fields_for :work_experiences do |work_experience_form| %>
      <%= render 'work_experience_fields', f: work_experience_form %>
    <% end %>
    <div>
      <%= link_to_add_association 'Add Work Experience', form, :work_experiences %>
    </div>
  </div>

  <hr>

  <h3>Additional information</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :desired_job_title %>
        <%= form.text_field :desired_job_title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label "Desired job types" %><br />
        <%= form.collection_check_boxes :job_type_ids, JobType.all, :id, :title do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>

      <h5>Desired salary USD</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label "per month" %>
            <%= form.number_field :desired_salary_per_month, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label "per year" %>
            <%= form.number_field :desired_salary_per_year, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h5>Employment eligibility</h5>
      <div class="form-group">
        <%= form.radio_button :employment_eligibility, 'authorized' %>
        <%= form.label :employment_eligibility, 'Authorized to work in the country where you located' %>
          <br>
        <%= form.radio_button :employment_eligibility, 'sponsorship' %>
        <%= form.label :employment_eligibility, 'Sponsorship required to work in the country' %>
      </div>

      <div class="form-group">
        <%= form.label "I am willing to relocate" %>
        <%= form.check_box :relocation %>
      </div>

      <div class="form-group">
        <%= form.label "Additional information (text)" %>
        <%= form.text_area :additional_information_step_4, rows: 8, class: 'form-control' %>
      </div>
    </div>
  </div>
  <hr>

  <h3>Add more fields</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Skills
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <%= form.fields_for :skills do |skills_form| %>
                  <%= render "/resumes/skill_fields", f: skills_form %>
                <% end %>
                <div>
                  <%= link_to_add_association 'Add Skill', form, :skills %>
                </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Certifications / Licenses
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <%= form.fields_for :certifications do |certifications_form| %>
                <%= render "certification_fields", f: certifications_form %>
              <% end %>
              <div>
                <%= link_to_add_association 'Add Certification / License', form, :certifications %>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Links
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <div class="form-group">
                <%= form.label :blog_url %>
                <%= form.text_field :blog_url, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :personal_homepage %>
                <%= form.text_field :personal_homepage, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :facebook %>
                <%= form.text_field :facebook, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :twitter %>
                <%= form.text_field :twitter, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Military service
              </button>
            </h5>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <%= form.fields_for :militaries do |militaries_form| %>
                <%= render "military_fields", f: militaries_form %>
              <% end %>
              <div>
                <%= link_to_add_association 'Add Military Service', form, :militaries %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="accordion" id="accordionExample2">
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                Awards
              </button>
            </h5>
          </div>

          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample2">
            <div class="card-body">
              <%= form.fields_for :awards do |awards_form| %>
                <%= render "award_fields", f: awards_form %>
              <% end %>
              <div>
                <%= link_to_add_association 'Add Award', form, :awards %>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Groups
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample2">
            <div class="card-body">
              <%= form.fields_for :groups do |groups_form| %>
                <%= render "group_fields", f: groups_form %>
              <% end %>
              <div>
                <%= link_to_add_association 'Add Group', form, :groups %>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Patents
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample2">
            <div class="card-body">
              <%= form.fields_for :patents do |patents_form| %>
                <%= render "patent_fields", f: patents_form %>
              <% end %>
              <div>
                <%= link_to_add_association 'Add Patent', form, :patents %>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingEight">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Publications
              </button>
            </h5>
          </div>

          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample2">
            <div class="card-body">
              <%= form.fields_for :publications do |publications_form| %>
                <%= render "publication_fields", f: publications_form %>
              <% end %>
              <div>
                <%= link_to_add_association 'Add Publication', form, :publications %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Additional information (text)" %>
        <%= form.text_area :additional_information_step_5, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
          <%= form.label "Profile Picture" %>
          <%= form.file_field :profile_pic, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
