<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @resume.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @resume.last_name %>
</p>

<h4>Work Experience</h4>
<% @resume.work_experiences.each do |w| %>
	<div><%= w.job_title %></div>
	<div><%= w.company %></div>
<% end %>

<div class="col-md-4">
  <strong>Profile Pic:</strong>
  <%= image_tag @resume.profile_pic, width: "100%" %>
</div>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
