<!DOCTYPE html>
<html>
  <head>
    <title>ListingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <% if user_signed_in? %>
            <%= link_to "I am #{current_user.interface.capitalize}", toggle_interface_user_path(current_user), class: 'btn btn-primary'  %>

            <% if current_user.interface == "jobseeker" %>
              <%= render 'shared/nav_jobseeker' %>
            <% else %>
              <%= render 'shared/nav' %>
            <% end %>
          <% end %>

          <%= yield %>
        </div>
      </div>
  	</div>

    <%= render 'shared/alerts' %>

  </body>
</html>
